 body {
            background-color: beige;
        }
        p {
            font-size: 140%;
        }
 #btn-1{
    background-color:rgb(13, 222, 62) ;
    color:rgb(255, 0, 0);
    padding: 10px;
    margin-top: 20px;
 }
 